[ req ]
default_bits            = 2048
#default_keyfile         = privkey.pem
distinguished_name = req_distinguished_name
attributes              = req_attributes
x509_extensions		= v3_ca
req_extensions		= usr_cert
 prompt                 = no

[ req_distinguished_name ]
#commonName = Common Name (eg, YOUR name)
CN = {cn}

[ v3_req ]
subjectKeyIdentifier        = hash
basicConstraints        = CA:FALSE
nsComment           = "OpenSSL Generated Certificate"


# Typical end-user certificate profile
#keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
#keyUsage = digitalSignature, keyEncipherment
#extendedKeyUsage = {openssl_eku}
#basicConstraints = critical, CA:FALSE
#subjectKeyIdentifier = hash
#authorityKeyIdentifier = keyid,issuer
subjectAltName = otherName:msUPN;UTF8:{cn}
#subjectAltName = otherName:msUPN;UTF8:{cn}, email:{cn}@legimi.com

[ usr_cert ]

basicConstraints       = CA:FALSE
nsComment              = "OpenSSL Generated Certificate"
subjectKeyIdentifier   = hash
#authorityKeyIdentifier = keyid,issuer:always
extendedKeyUsage       = clientAuth
keyUsage               = digitalSignature

[ server ]

basicConstraints       = CA:FALSE
nsCertType             = server
nsComment              = "OpenSSL Generated Server Certificate"
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer:always
extendedKeyUsage       = serverAuth
keyUsage               = digitalSignature
#keyUsage               = digitalSignature, keyEncipherment
#subjectAltName = otherName:msUPN;UTF8:{cn},DNS:{cn},IP:127.0.0.1,IP:52.174.250.90
subjectAltName = DNS:{cn},IP:127.0.0.1,IP:52.174.250.90

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = CA:true

[ req_attributes ]

 [ ca ]
 default_ca      = CA_default            # The default ca section
 
 [ CA_default ]

 dir            = ./demoCA              # top dir
 database       = $dir/index.txt        # index file.
 new_certs_dir  = $dir/newcerts         # new certs dir
 
 certificate    = $dir/cacert.pem       # The CA cert
 serial         = $dir/serial           # serial no file
 private_key    = $dir/private/cakey.pem# CA private key
 RANDFILE       = $dir/private/.rand    # random number file
 
 default_days   = 365                   # how long to certify for
 default_crl_days= 30                   # how long before next CRL
 default_md     = md5                   # md to use

 policy         = policy_any            # default policy
 email_in_dn    = no                    # Don't add the email into cert DN

 name_opt       = ca_default            # Subject name display option
 cert_opt       = ca_default            # Certificate display option
 copy_extensions = none                 # Don't copy extensions from request

 [ policy_any ]
 countryName            = supplied
 stateOrProvinceName    = optional
 organizationName       = optional
 organizationalUnitName = optional
 commonName             = supplied
 emailAddress           = optional
